<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Welcome to Ability!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <h2>The next step to your mobility.</h2>
  
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Full name:</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone number:</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>

      

      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm password:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    
    
    </ion-card-content>
    <ion-button size="full" fill="clear" (click)='reg()'>
      Register
    </ion-button>
  </ion-card>

</ion-content>

